 .head {
     padding-top: 30px;
 }

 body {
     margin: 0;
     padding: 0;
     font-family: 'Dancing Script', sans-serif;
 }

 .bbg {
     background-color: #59596D;
 }

 .main-heading {
     text-align: center;
     color: #d9d9d9;
     margin-bottom: 20px;
 }

 .main-container {
     margin-top: 0px;
     background-color: #59596D;
 }

 .dateofbirth {
     padding-top: 10px;
     padding-bottom: 10px;
 }

 .sub-container {
     margin: 0px auto;
     width: 97%;
     height: 190px;
     background-color: #D9D9D9;
     border-radius: 2px;
 }

 .inner {
     padding-top: 25px;
     text-align: center;
     margin: 12px auto;
     width: 100%;
     height: 200px;
 }

 #dateStart,
 #dateEnd {
     width: 200px;
     height: 25px;
 }

 #db {
     padding-left: 0px;
     color: #595967;
     font-weight: bold;
 }

 #dob {
     padding-left: 0px;
     color: #595967;
     font-weight: bold;
 }

 #dateStart {
     margin-left: 20px;
 }

 #dateEnd {
     margin-left: 10px;
 }

 #btn {
     padding: 8px 20px 8px 20px;
     font-weight: bold;
     text-transform: capitalize;
     margin-top: 20px;
     cursor: pointer;
     border-style: solid;
     border-radius: 3px;
     border-color: #59596D;
     outline: none;
     border-width: 1px;
 }

 #btn:hover {
     background-color: #59596D;
     border-color: #59596D;
     color: white;
 }

 .second {
     margin-top: 20px;
 }

 .contain {
     height: 200px;
     border-radius: 3px;
 }

 #year {
     background-color: #034A67;
     margin-bottom: 15px;
 }

 #month {
     background-color: #9AAEC7;
     margin-bottom: 15px;
 }

 #days {
     background-color: #228DDB;
     margin-bottom: 15px;
 }

 .heading1 {
     font-size: 65px;
     font-weight: bold;
     text-align: center;
     padding-top: 30px;
     color: white;
 }

 .heading2 {
     text-align: center;
     font-weight: bold;
     color: black;
 }
